
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout_main_New.cshtml";
}
<head>
    <style>
        .float {
 
            background-color: #25d366;
            color: #FFF;
            text-align: center;
            font-size: 30px;
            box-shadow: 2px 2px 3px #999;
            z-index: 100;
        }

        .my-float {
            margin-top: 16px;
        }
    </style>
</head>
<body dir="rtl" style="text-align:right">
    <br />
    <br />
    <div class="row" style="margin-top:40px;">


        <div class="col-md-6">
            <h3> أهل الذكر تفسير احلام فتاوي رقية استشارات </h3>
            <hr />
            <br />
            <p>يوفر تطبيق اهل الذكر الخدمات التالية :</p>
            <p>1- تفسير الأحلام وتعبير الرؤى يمكن التواصل المباشر مع المختصين لتفسير حلمك وفك الرموز</p>
            <p>2- الفتاوى الشرعية وفق الكتاب والسنة النبوية يمكن التواصل المباشر مع المفتين</p>
            <p>3- رقية شرعية وفق الكتاب والسنة النبوية يمكن التواصل المباشر مع الرقاة الشرعيين</p>
                
                
                
                
        </div>
        <div class="col-md-6">

            <iframe width="100%" height="345" src="https://www.youtube.com/embed/Os_8xNkUmDc"></iframe>
        </div>
    </div>
    <hr />
    <div class="row" style="margin-top:10px;">

        <div class="col-md">
            <h3> اتصل بنا</h3>
        </div>

        
    </div>
    <div class="row" style="margin-top:10px;">

        <div class="col-md"></div>
        <div class="col-md"></div>
        <div class="col-md">
            
            <button style="margin:5px;background-color:#25d366;color:#FFF;float:left" class="btn  btn-default" 
                    onclick="location.href='https://api.whatsapp.com/send?phone=+971555661133&text=السلام%20عليكم%20ورحمة%20الله%20تعالى%20وبركاته%20'">
                <i class="fa fa-whatsapp" style="font-size:large"></i> Whatsapp
            </button>
        </div>
        <div class="col-md">
            <button style="margin:5px;background-color:#BB001B;color:#FFF" class="btn  btn-default"
                    onclick="location.href='mailto:fsrhilmak@gmail.com'">
                <i class="fa fa-envelope" style="font-size:large"></i> Email
            </button>
        </div>
        <div class="col-md"></div>
        <div class="col-md"></div>

    </div>
    <br />
    <br />
</body>

